@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    background-color: #000;
}
.off{
    width: 645.138px;
    height: 92px;
}    
header{
    width: 100%;
    margin-top: 20px;
    left: 0;
    top: 0;
    padding:1rem 5%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3 ease;
}
.logo span{
    color: rgb(116, 18, 18);
}

    nav a{
        font-size: 1.6rem;
        font-weight: 500;
        margin-left: 2rem;
        padding-bottom: 0.5rem;
        color: #ffffff;
        border-bottom: 3px solid transparent;
        transition: 0.5 ease;
    }
    nav a:hover{
        border-bottom: 3px solid rgb(116, 18, 18);
        color: rgb(116, 18, 18);
}
main{
    min-height: 100vh;
    padding:5rem 10% 30rem;
    margin-right: 13rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home-img{
    position: relative;
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    cursor: pointer;
    transition: 2s ease;
    border-radius: 50%;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home .home-content h1 span{
    color: rgb(116, 18, 18);
}
.home-content h3{
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    min-width: 28rem;
}
.home-content .typing-text span{
    color: rgb(116, 18, 18);
    position: relative;
}
.typing-text span::before{
    content: "software Developer";
    color: rgb(116, 18, 18);
    animation: words 20s infinite;
}
@keyframes words{
    0%, 20%{
        content: "Web Develope";
    }
    21%, 40%{
        content: "Develope";
    }
    41%, 60%{
        content: "Web Designe";
    }
    61%, 80%{
        content: "Python";
    }
    81%, 100%{
        content: "Telegram Bot";
    }
}
.home-content p{
    font-size: 1.6rem;
    text-align: justify;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid rgb(116, 18, 18);
    background-color: transparent;
    color: rgb(116, 18, 18);
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3 ease;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(116, 18, 18);
    box-shadow: 0  0 25px rgb(116, 18, 18);
}
.btn{
    color: rgb(116, 18, 18);
    border: 2px solid rgb(116, 18, 18);
    border-radius: 15px;
    padding: 0.8rem 2rem;
    display: inline-block;
    transition: 0.3 ease;
    font-size: 1.6rem;
    letter-spacing: 5px;
    font-weight: 600;
    background-color: black;
}
.btn:hover{
    color: black;
    cursor: pointer;
    box-shadow: 0 0 20px rgb(116, 18, 18);
    background-color: rgb(116, 18, 18);
    transform: scale(1.2) translateY(-1px);
}
@media(max-width:995px){

    nav a{
        position: relative;
        margin: 0 1rem;
        right: 40px;
    }
} 
